/* header style */
.header {position: fixed; top: 0; width: 100%; height: auto; z-index: 100;}
.nav-up {top: -10rem}
.header .container {width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 4rem 5rem;} 
.header .logo {width: 13.5rem; height: 2rem; z-index: 10;}
.header .logo h1 {position: relative; top: 0; left: -99999px;}
.header .logo .logo-img {width: 100%; height: 2rem; background: url(/img/gnb_logo_b.svg) center no-repeat; background-size: cover;}
.header .header-right {display: flex; justify-content: center; align-items: center;}
.header .header-right .header-nav {display: flex; align-items: center; padding-right: 4rem;}
.header .header-right .header-nav>li>a { position: relative; margin: 0 2rem; padding-bottom: 5rem; font-size: 1.5rem; color: #fff; font-family: 'Marcellus'; }
.header .header-right .header-nav>li:hover .line {position: absolute; top: 1.5rem; left: 2rem; width: 70%; height: .2rem; margin-top: .5rem; background: #fff; animation: right 1s ease;}
@keyframes right {
    from { opacity: 0; width: 0;}
    to { opacity: 1; width: 70%;}
}
.header .header-right .header-nav>li{position: relative;}
.header .header-right .header-nav>li>ul {display: none;}
.header .header-right .header-nav>li:hover>ul {display: block; position: absolute; left: 0; top: 5rem; width: 23rem; height: auto; padding: 3rem; box-sizing: border-box; border: 1px solid #fff; background: #fff;}
.header .header-right .header-nav>li>ul>li:nth-child(1) {margin-top: 0;}
.header .header-right .header-nav>li>ul>li {position: relative; margin-top: 2rem;}
.header .header-right .header-nav>li>ul>li>a {font-size: 1.4rem;}
.header .header-right .header-nav>li>ul>li:hover .line {position: absolute; top: 1.5rem; left: 0; width: 100%; height: .2rem; margin-top: .5rem; background: #000; animation: right1 1s ease;}
@keyframes right1 {
    from { opacity: 0; width: 0;}
    to { opacity: 1; width: 100%;}
}
/* gnb style */
.header .gnb-menu {position: absolute; top: -100vh; visibility: hidden; opacity: 0; }
.header .gnb-menu.open {position: absolute; top: 0; width: 100%; height: 100vh; display: flex; justify-content: space-between; padding: 4rem 5rem; background: #fff; visibility: visible; opacity: 1; transition: all 1s ease;}
.header .gnb-menu.open .gnb-right {width: 60%; margin-top: 9rem;}
.header .gnb-menu.open .gnb-right>ul {display: flex; justify-content: space-between; width: 100%; }
.header .gnb-menu.open .gnb-right>ul>li {animation: font-up 1s; transition: all 1s ease-in-out;}
@keyframes font-up {
    from { opacity: 0; transform: translateY(10rem);}
    to { opacity: 1; transform: translateY(0);}
}
.header .gnb-menu.open .gnb-right>ul>li>a {font-size: 1.6rem; color: #9a9a9a; font-family: 'Marcellus';}
.header .gnb-menu.open .gnb-right>ul>li>ul {margin-top: 2.4rem;}
.header .gnb-menu.open .gnb-right>ul>li>ul>li {margin-bottom: 1.8rem;}
.header .gnb-menu.open .gnb-right>ul>li>ul>li>a {font-size: 1.6rem; font-family: 'Pretendard'; }
.header .gnb-menu.open .gnb-left {width: 30%; height: auto; margin-top: 9rem;}
.header .gnb-menu.open .gnb-left .gnb-left-img {width: 100%; height: 61rem; background: url(/img/prd_lifting_mask2.jpg) center no-repeat; background-size: cover; }
/* main style */
.main-section {width: 100%; height: auto;}
.main-section .main-img {width: 100%; height: 100vh; background: url(/img/top_banner.jpg) center no-repeat; background-size: cover;}
.main-section .main-img .main-txt {position: relative; top: 30%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.main-section .main-img .main-txt h2 {margin-bottom: 1.6rem; font-size: 7rem; line-height: 8rem; text-align: center; color: #fff; font-family: 'Marcellus';}
.main-section .main-img .main-txt span {margin-bottom: 4rem; font-size: 1.6rem;  color: #fff; font-family: 'Pretendard';}
.main-section .main-img .main-txt button {color: #fff;}
.main-section .main-img .main-txt button::after {background: #fff;}
/* mask section style */
.mask-section {display: flex; justify-content: center; align-items: center;  padding: 18rem 15rem;}
.mask-section .mask-right {width: 50%; height: auto;}
.mask-section .mask-right .mask-img {width: 68rem; height: 90rem; background: url(/img/prd_lifting_mask2.jpg) no-repeat center;}
.mask-section .mask-left {width: 50%; height: auto; padding-left: 18rem;}
/* cream section style */
.cream-section{position: relative;}
.cream-section .wrapper {position: relative; display: flex; justify-content: center; align-items: flex-end; margin-bottom: 20rem; z-index: 10;} 
.cream-section .cream-left {width: 40%; padding-right: 5rem;}
.cream-section .cream-right {width: 50%; height: auto;}
.cream-section .cream-right .cream-img {width: 95rem; height: 70rem; background: url(/img/prd_penellagen_cream.jpg) no-repeat center;}
.cream-section .bg-img {position: absolute; top: 0; width: 100%; height: 110rem; background: url(/img/prd_bg.png) no-repeat center; background-size: cover;}
/* starfish section style */
.starfish-section {position: relative; width: 100%; height: auto; min-height: 90rem; margin: 18rem 0;}
.starfish-section .wrapper {position: absolute; top: 0; display: flex; justify-content: center; align-items: center; width: 100%; height: auto;}
.starfish-section .wrapper .starfish-left {width: 40%; height: auto; margin-left: 15rem;}
.starfish-section .wrapper .starfish-left .starfish-img {width: 68rem; height: 90rem; background: url(/img/prd_starfish_mask.jpg) center no-repeat;}
.starfish-section .wrapper .starfish-right {width: 60%; height: auto; padding-left: 18rem;}
/* about section style */
.about-section {display: flex; justify-content: flex-start; align-items: center; width: 100%; height: auto; min-height: 55rem; padding: 19rem 0; background: url(/img/about_bg.jpg) no-repeat center;}
.about-section .about-left {width: 60%; height: auto;}
.about-section .about-left .img-box {display: flex; justify-content: center; align-items: center; gap: 1.5rem;}
.about-section .about-left .img-box .img1 {width: 44rem; height: 55rem; background: url(/img/about_pic1.jpg) no-repeat center; background-size: cover;}
.about-section .about-left .img-box .img2{width: 44rem; height: 55rem; background: url(/img/about_pic2.jpg) no-repeat center; background-size: cover;}
.about-section .about-right .txt-box {padding: 10rem; text-align: center;}
.about-section .about-right .txt-box .txt2 {margin-bottom: 2.5rem;}
.about-section .about-right .txt-box button {position: relative; left: 37%;}
/* technology section style */
.technology-section {padding: 18rem 5rem;}
.technology-section .txt-box {padding-bottom: 9rem;}
.technology-section .txt-box .txt2 {padding-bottom: 2.5rem;}
.technology-section .img-box {display: flex; justify-content: center; align-items: center; gap: 1.5rem;}
.technology-section .img-box .img1 {position: relative; width: var(--ls-1-3); height: 63rem; background: url(/img/tech_penellagen.jpg) no-repeat center; background-size: cover; transition: all .4s ease;}
.technology-section .img-box .img1:hover {border-radius: 10%;}
.technology-section .img-box .img1 .overlay {position: absolute; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); transition: all .4s ease; opacity: 1; }
.technology-section .img-box .img1:hover .overlay {opacity: 0;}
.technology-section .img-box .img2 {position: relative; width: var(--ls-1-3); height: 63rem; background: url(/img/tech_sheet.jpg) no-repeat center; background-size: cover; transition: all .4s ease;}
.technology-section .img-box .img2:hover {border-radius: 10%;}
.technology-section .img-box .img2 .overlay {position: absolute; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); transition: all .4s ease; opacity: 1; }
.technology-section .img-box .img2:hover .overlay {opacity: 0;}
.technology-section .img-box .img3 {position: relative; width: var(--ls-1-3); height: 63rem; background: url(/img/tech_ingredient.jpg) no-repeat center; background-size: cover; transition: all .4s ease;}
.technology-section .img-box .img3:hover {border-radius: 10%;}
.technology-section .img-box .img3 .overlay {position: absolute; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); transition: all .4s ease; opacity: 1; }
.technology-section .img-box .img3:hover .overlay {opacity: 0;}
.technology-section .img-box .img-txts {position: relative; z-index: 10; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: auto; min-height: 63rem; padding: 4.2rem 3.2rem;}
.technology-section .img-box .img-txts p {font-size: 4.2rem; line-height: 4.8rem; color: #fff; font-family: 'Marcellus';}
.technology-section .img-box .img-txts span {font-size: 1.6rem; line-height: 2.6rem; color: #fff; font-family: 'Pretendard';}
/* footer style */
.footer {width: 100%; height: auto; padding: 9rem 5rem 4rem;}
.footer .wrapper {width: 100%; height: auto; display: flex; }
.footer .wrapper .footer-left {width: 60%; height: auto; display: flex; flex-direction: column; gap: 8rem; }
.footer .wrapper .footer-left .logo{width: 13rem; height: 3rem; background: url(/img/ft_logo.svg) no-repeat center; background-size: cover;}
.footer .wrapper .footer-left p {font-size: 1.2rem; line-height: 1.5rem; color: #bababa;}
.footer .footer-right {display: flex; justify-content: center; align-items: center; gap: 10rem; width: 40%;}
.footer .footer-right dl {font-size: 1.2rem; line-height:  1.8rem;}
.footer .footer-right dl dt {margin-bottom: 1rem;}

